@{
    // Acceder al HttpContext desde ViewContext
    var httpContext = ViewContext.HttpContext;

    // Verificar si el usuario está logueado
    bool logueado = httpContext.Session.GetInt32("UsuarioId") != null;

    // Obtener el rol del usuario si está logueado
    string rol = logueado ? httpContext.Session.GetString("Rol") : "";
}

<ul class="navbar-nav">
    @if (logueado)
    {
        <li class="nav-item">
            <span class="nav-link">¡Hola @rol!</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Usuarios/EditarClave">Cambiar Contraseña</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Home/Logout">Cerrar Sesión</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" href="/Usuarios/Login">Iniciar Sesión</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Usuarios/Register">Registrarse</a>
        </li>
    }
</ul>
